

.about {
    padding: 50px 30px;
    align-items: center;

    h3 {
        text-align: center;
    }

}

.about-flex-container {
    display: flex;
   justify-content: space-between;
}

.about-me {
    width: 75%;

    .first-para {
        margin-bottom: 20px;
    }
}

.dotted-line-box-wrapper {

    position: relative;
    background: linear-gradient(to bottom right, red, $blue, $yellow);
    padding: 3px;
    margin-left: 30px;

    .dotted-line-box {
    // border: 2px solid red;
    background: #222;
    color: white;
    padding: 30px;
    margin: 0 auto;
    

    h5 {
        text-align: left;
        margin-bottom: .2rem;
    }
}

}

// UNUSED STUDIES AREA, MIGHT INCORPORATE LATER

// Studies 

// .studies {
//     width: 50%;
//     padding-left: 10px;
//     display: flex;
//     flex-direction: column;

//     h3 {
//         text-align: center;
//     }

//     h5 {
//         margin-bottom: .2rem;
//         font-size: 1rem;
//     }

// }

// .studies1-box-wrapper {
//     position: relative;
//     background: linear-gradient(to bottom right, $green, $greenLight);
//     padding: 3px;
//     width: 50%;

//     .studies1 {
//         background: #222;
//         color: white; 
//         padding: 3px; 
        
//         h5 {
//             color: $green;
//         }
//     }
// }

// .studies2-box-wrapper {
//     position: relative;
//     background: linear-gradient(to bottom left, $blue, $blueX);
//     padding: 3px;
//     width: 50%;
//     align-self: flex-end;

//     .studies2 {
//         background: #222;
//         color: white;
//         padding-left: 7px;

//         h5 {
//             color: $blueX;
//         }
//     }
// }

// .studies3-box-wrapper {
//     position: relative;
//     background: linear-gradient(to bottom left, $orangeLight, $orange);
//     padding: 3px;
//     width: 50%;

//     .studies3 {
//         background: #222;
//         color: white;
//         padding-left: 7px;
    
//         h5 {
//             color: $orange;
//         }
//     }
// }

// .studies4-box-wrapper {
//     position: relative;
//     background: linear-gradient(to bottom left, $pinkLight, $pink);
//     padding: 3px;
//     width: 50%;
//     align-self: flex-end;

//         .studies4 {
//         background: #222;
//         color: white;
//         padding-left: 7px;
    
//         h5 {
//             color: $pink;
//         }
//     }
// }


.skills-first-row, .skills-second-row {
    display: flex;
    justify-content: space-between;
}

.skills-first-row {
    margin-bottom: 20px;
}



.skillz-icons {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5px;

     img {
        height: 100px;
    }

    p {
        margin: 5px 0 0 0;
        font-weight: bolder;
        color: white;

    }
}



.project0 {
    display: flex;
    align-items: center;
    width: 100%;

    .project0-image {
        width: 50%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .project0-text {
            width: 50%;
            justify-self: center;
            align-items: center;

            .project0-title-box {
                position: relative;
                background: linear-gradient(to right, $yellow, rgba(50, 211, 44, 0));
                padding: 3px;
                margin-bottom: 1.25rem;

                    div {
                        background: #222;
                        color: white;


                        h4 {
                            margin-bottom: 0;
                            padding: 3px;
                        }
                    }
                
            }

            p {
                margin-bottom: 1rem;
            }

        .portfolio-btn {
        width: 100px;
        height: 30px;
        background-color: $yellow;
        // margin: 20px 10px 0 0;
        color: #222;
        transition: 0.2s;

         &:hover {
            border: 2px solid $yellow;
            color: $sweetPink;
            background-color: #222;
         }
        }  
    }
}

.project1 {
    display: flex;
    align-items: center;
    width: 100%;

    .outer-video-div {
        position: relative;
        width: 50%;
        height: auto;

        .project1-image img {
            width: 100%;
            height: auto;
        }

        .project1-image i {
            font-size: 350%;
            position: absolute;
            bottom: 30%;
            left: 70%;
            color: $pink;
            // @include dropShadow();
            // @include pulse;
        }
    }

    .project1-text {
        width: 50%;
        justify-self: center;
        align-items: center;

        .project1-title-box {
            position: relative;
            background: linear-gradient(to right, $orange, rgba(221, 41, 191,0));
            padding: 3px;
            margin-bottom: 1.25rem;

                div {
                    background: #222;
                    color: white;


                    h4 {
                        margin-bottom: 0;
                        padding: 3px;
                    }
                }
            
        }

        p {
            margin-bottom: 1rem;
        }

        .portfolio-btn {
        width: 100px;
        height: 30px;
        background-color: $orange;
        margin-right: 10px;
        color: $sweetPink;
        transition: 0.2s;

        &:hover {
            border: 2px solid $orange;
            background-color: #222;
        }
        }  
    }
}
// fridge
.project2 {
    display: flex;
    align-items: center;
    width: 100%;

    .project2-image {
        width: 50%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .project2-text {
            width: 50%;
            justify-self: center;
            align-items: center;

            .project2-title-box {
                position: relative;
                background: linear-gradient(to right, $green, rgba(50, 211, 44, 0));
                padding: 3px;
                margin-bottom: 1.25rem;

                    div {
                        background: #222;
                        color: white;


                        h4 {
                            margin-bottom: 0;
                            padding: 3px;
                        }
                    }
                
            }

            p {
                margin-bottom: 1rem;
            }
            

        .portfolio-btn {
        width: 100px;
        height: 30px;
        background-color: $green;
        margin-right: 10px;
        color: $sweetPink;
        transition: 0.2s;

        &:hover {
            border: 2px solid $green;
            background-color: #222;
        }
        }  
    }
}

 .project3 {
    display: flex;
    align-items: center;
    width: 100%;

    .project3-image {
        width: 50%;

            img {
                width: 100%;
                height: auto;
            }
        }

    .project3-text {
        width: 50%;
        justify-self: center;
        align-items: center;

        .project3-title-box {
            position: relative;
            background: linear-gradient(to right, $red, rgba(221, 41, 191,0));
            padding: 3px;
            margin-bottom: 1.25rem;

                div {
                    background: #222;
                    color: white;


                    h4 {
                        margin-bottom: 0;
                        padding: 3px;
                    }
                }
            
        }

        p {
                margin-bottom: 1rem;
            }

        .portfolio-btn {
        width: 100px;
        height: 30px;
        background-color: $red;
        margin-right: 10px;
        color: $sweetPink;
         transition: 0.2s;

         &:hover {
             border: 2px solid $red;
             background-color: #222;
         }
        }  
    }
}

.project2-image, .project0-image {
    order: 1;
}

// .project2-text, .project0-text {
//     margin-left: 30px;
// }

// BLOG

// .blog {
//     padding-top: 30px;
//     height: 500px;

//     h3 {
//         text-align: center;
//     }
// }

// CONTACT


.connect {
    padding: 30px;
}

.connect-flex{
    display: flex;
    align-content: space-between;
}

.social-flex {
    display: flex;
    justify-content: space-evenly;
    max-width: 50%;
    margin-right: 30px;
    position: relative;
    background: linear-gradient(to bottom right, red, $blue, $yellow);    
    padding: 3px;

    div {
        display: flex;
        background: #222;
        padding: 10px;
    }
}

.social-pic-text {
    display: flex;
    justify-content: space-between;

    .circle-pic-div {
        width: 50%;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }

    .hire-me-text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        .social-icons {
            justify-content: space-between;
            color: linear-gradient(to bottom right, red, $blue, $yellow);    

            i {
                color: $yellow;
                font-size: 20px;
                 transition: 0.2s;

                &:hover {
                    color: $pink;
                }
                
;            }
        }

        .quote {
            font-style: italic;
            margin-top: 8px;
            font-size: 15px;
        }
    }
}

.email {
    text-align: center;
    padding-top: 15px;
    max-width: 100%;
    display: block;

            i {
                font-size: 2rem;
                color: $red;
        
            p {
                color: white;
                display: inline-block;
                font-family: 'Raleway', sans-serif;
            }
         }  
     }


.connect-form {
    max-width: 50%;
    width: 50%;

    button {
        display: block;
        @include button;
    }

}

.form-name-box-wrapper, .form-email-box-wrapper, .form-message-box-wrapper {
    position: relative;
    // background: linear-gradient(to bottom left, $pinkLight, $pink);
    background: $pink;
    padding: 3px;
    width: 100%;

     input, textarea {
        background: #222;
        display: block;
        width: 100%;
        padding:10px;
        font-family: 'Raleway', sans-serif;
    }
}

footer {
    height: 50px;
    text-align: center;
    
    p {
        padding-top: 15px;
        font-size: .8rem;
    }
}

