.body-wrapper{
    width: 75%;
    margin: 0 auto;
}

.about-studies{
    display: flex;
    padding-right: 10px;
    align-items: center;

}

.about-me {
    width: 50%;
}

// Studies 

.studies {
    width: 50%;
    padding-left: 10px;

}

.studies1 {
    border: 2px solid $blue;
    width: 50%;
}

.studies2 {
    border: 2px solid $pink;
    width: 50%;
}

.studies3 {
    border: 2px solid $purple;
    width: 50%;
}

.studies4 {
    border: 2px solid $green;
    width: 50%;
}

.skillz {
    background-color: $lightGrey;
    background-color: $yellow;
    padding: 20px 0;

   
}

.skillz-flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.skillz-icons {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;

     img {
        height: 100px;
    }

    h5 {
        margin-top: 5px;
        font-weight: bolder;
    }

}

.project1 {
    display: flex;
    flex-direction: row;

    .project1-image {
        width: 50%;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.project2 {
    display: flex;
    height: 500px;

    .project2-image {
        width: 50%;

        img {
            width: 100%;
            height: auto;
        }

    }

    .project2-text {
        width: 50%;
    }
}

