header {
    height: 100vh;
    width: 60%;
    margin: 0 auto;
}

.header-text {
    width: 50%;
}

ul {
    display: flex;
    justify-content: flex-end;
    border: 1px solid red;

    li {
        margin-left: 10px;
    }
}

.header-hero {
    display: flex;
}

.profile-image {
    width: 50%;
}