header {
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    margin: 0 auto;
    background-image: url('../../asests/hero.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: fit;
    padding: 50px;
}


ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    li {
        margin-left: 20px;
        text-transform: lowercase;

        a {
            color:$pink;
            transition: 0.2s;
            letter-spacing: 2px;

            &:hover {
                color: $sweetPink;
            }
        }
    }
}

.hamburger {
    background-color: transparent;
    color: $pink;
    font-size: 30px;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 85%;
}

.hamburger:focus {
    outline: none;
}

nav {
    display: flex;
    justify-content: flex-end;
}


@media screen and (max-width: 800px) {

    nav {
       justify-content: flex-end;
    }

    .nav {
        display: none;
    }

    .hamburger {
        display: block;
        transition: 0.2s;
        
        &:hover {
            color: $sweetPink;
        }
    }

    .nav.show {
        display: flex;
        align-content: flex-end;
        position: absolute;
        width: 120px;
        margin-top: 45px;
        padding: 5px;

        @media screen and (max-width: 450px) {
        background: rgba(0, 0, 0, 0.5);
        }
    }

    .nav li a {
       padding-bottom: 20px;
       display: block;

       &:hover {
           color: $sweetPink;
       }
      
    }
}

.header-intro {
    width:50%;
    margin-top: 25%;

    @media screen and (max-width: 600px) {
        width: 80%;
        margin-top: 50%;
    }

    @media screen and (max-width: 450px) {
        width: 100%;
        text-align: center;
        margin: 60% auto;
    }

    h3 {
        text-align: left;
        margin-bottom: 20px;

        @media screen and (max-width: 450px) {
            text-align: center;
        }
    }

    button {
        @include button;
        transition: 0.2s;

        &:hover {
            border: 2px solid $pink;
            background-color: #222;
        }

        i {
            margin-left: 5px;
        }
    }
}
