
// Fonts
$headerFont: 'Open Sans', sans-serif;
$bodyFont: 'Raleway', sans-serif;

// colours
$purple: #5A528D;
$green: #008200;
$green2: #009900;
$blue: blue;
$blue2: #0066cc;
$pink: #ff1493;
$red: red;
$grey: grey;
$orange: #aa7700;
$greyBrown: #afafaf;
$lightGrey: #ccc;

$pinkX: rgb(221, 41, 191);
$orangeX: rgb(253, 99, 32);
$yellow: rgb(238, 195, 48);
$greenX: rgb(50, 211, 44);
$blueX: rgb(72, 155, 220);
$red: rgb(255, 52, 89);



