a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  background-color: #222;
  color: white;
  font-family: 'Raleway', sans-serif;
  max-width: 1500px;
  min-width: 350px;
  margin: 0 auto;
}

.body-wrapper {
  width: 80%;
  padding: 0 50px;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1305px) {
  .body-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 1162px) {
  .body-wrapper {
    width: 95%;
    padding: 0 10px;
  }
}

@media screen and (max-width: 1013px) {
  .body-wrapper {
    padding: 0;
    width: 97%;
  }
}

section {
  padding: 50px 50px;
  margin-top: 50px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 980px) {
  section {
    padding: 40px 40px;
  }
}

@media screen and (max-width: 600px) {
  section {
    padding: 20px;
    margin-top: 20px;
  }
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2.6rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-shadow: 1px 1px #222;
}

h1 span {
  font-size: 1.4rem;
  font-weight: normal;
  display: block;
  margin: .5rem 0 1rem 0;
}

h2 {
  font-size: 1.9rem;
  margin-bottom: 0.45rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1rem;
  margin-bottom: 50px;
  text-align: center;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.25;
  margin-bottom: 1.25rem;
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.65rem;
  letter-spacing: .7px;
}

.confetti {
  height: 5px;
  width: 5px;
  position: absolute;
  opacity: 0.75;
  z-index: 0;
  /* gpu acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.confetti.blue {
  background: #00a8ff;
}

.confetti.green {
  background: #4cd137;
}

.confetti.yellow {
  background: #fbc531;
}

.confetti.red {
  background: #e84118;
}

.confetti.pink {
  background: #ff9ff3;
}

.confetti.circle {
  border-radius: 50%;
}

.confetti.rectangle {
  padding: 0 1px;
}

header {
  height: 100vh;
  min-height: 720px;
  max-height: 720px;
  margin: 0 auto;
  background-image: url("/asests/hero2.1.2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: fit;
  padding: 50px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul li {
  margin-left: 20px;
  text-transform: lowercase;
}

ul li a {
  color: #dd29bf;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  letter-spacing: 2px;
}

ul li a:hover {
  color: #fff0ff;
}

.hamburger {
  background-color: transparent;
  color: #dd29bf;
  font-size: 30px;
  cursor: pointer;
  display: none;
  position: absolute;
  left: 85%;
}

.hamburger:focus {
  outline: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 800px) {
  nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav {
    display: none;
  }
  .hamburger {
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .hamburger:hover {
    color: #fff0ff;
  }
  .nav.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    position: absolute;
    width: 120px;
    margin-top: 45px;
    padding: 5px;
  }
}

@media screen and (max-width: 800px) and (max-width: 450px) {
  .nav.show {
    background: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 800px) {
  .nav li a {
    padding-bottom: 20px;
    display: block;
  }
  .nav li a:hover {
    color: #fff0ff;
  }
}

.header-intro {
  width: 50%;
  margin-top: 25%;
}

@media screen and (max-width: 600px) {
  .header-intro {
    width: 80%;
    margin-top: 50%;
  }
}

@media screen and (max-width: 450px) {
  .header-intro {
    width: 100%;
    text-align: center;
    margin: 60% auto;
  }
}

.header-intro h3 {
  text-align: left;
  margin-bottom: 20px;
  text-shadow: 1px 1px #222;
}

@media screen and (max-width: 450px) {
  .header-intro h3 {
    text-align: center;
  }
}

.header-intro p {
  text-shadow: 1px 1px #222;
}

.header-intro button {
  width: 100px;
  height: 30px;
  background-color: #dd29bf;
  margin: 20px 10px 0 0;
  color: #fff0ff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-intro button:hover {
  border: 2px solid #dd29bf;
  background-color: #222;
}

.header-intro button i {
  margin-left: 5px;
}

.about {
  padding: 50px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about h3 {
  text-align: center;
}

.about-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 600px) {
  .about-me {
    text-align: justify;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .about-me {
    text-align: left;
  }
}

.about-me .first-para {
  margin-bottom: 20px;
}

.about-me::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10d";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  right: 100%;
  top: -5%;
  font-size: 50px;
  color: blue;
}

@media screen and (max-width: 470px) {
  .about-me::before {
    font-size: 30px;
  }
}

.about-me::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 100%;
  bottom: -7%;
  font-size: 50px;
  color: blue;
}

@media screen and (max-width: 470px) {
  .about-me::after {
    font-size: 30px;
    left: 90%;
  }
}

.skills-first-row, .skills-second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-first-row {
  margin-bottom: 20px;
}

.skillz-icons {
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 5px;
}

.skillz-icons img {
  height: 100px;
}

@media screen and (max-width: 972px) {
  .skillz-icons img {
    height: 75px;
  }
}

@media screen and (max-width: 550px) {
  .skillz-icons img {
    height: 60px;
  }
}

.skillz-icons h5 {
  margin: 5px 0 0 0;
  color: white;
}

@media screen and (max-width: 550px) {
  .skillz-icons h5 {
    font-size: 10px;
  }
}

.project0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 972px) {
  .project0 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project0 .project0-image {
  width: 50%;
}

@media screen and (max-width: 972px) {
  .project0 .project0-image {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .project0 .project0-image {
    width: 100%;
  }
}

.project0 .project0-image img {
  width: 100%;
  height: auto;
}

.project0 .project0-text {
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 972px) {
  .project0 .project0-text {
    width: 100%;
  }
}

.project0 .project0-text .project0-title-box {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#eec330), to(rgba(50, 211, 44, 0)));
  background: linear-gradient(to right, #eec330, rgba(50, 211, 44, 0));
  padding: 3px;
  margin-bottom: 1.25rem;
}

.project0 .project0-text .project0-title-box div {
  background: #222;
  color: white;
}

.project0 .project0-text .project0-title-box div h4 {
  margin-bottom: 0;
  padding: 3px;
}

.project0 .project0-text p {
  margin-bottom: 1rem;
}

.project0 .project0-text .portfolio-btn {
  width: 100px;
  height: 30px;
  background-color: #eec330;
  color: #222;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.project0 .project0-text .portfolio-btn:hover {
  border: 2px solid #eec330;
  color: #fff0ff;
  background-color: #222;
}

.project1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 972px) {
  .project1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project1 .project1-image {
  width: 50%;
}

@media screen and (max-width: 9720px) {
  .project1 .project1-image {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .project1 .project1-image {
    width: 100%;
  }
}

.project1 .project1-image img {
  width: 100%;
  height: auto;
}

.project1 .project1-text {
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 972px) {
  .project1 .project1-text {
    width: 100%;
  }
}

.project1 .project1-text .project1-title-box {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#fd6320), to(rgba(221, 41, 191, 0)));
  background: linear-gradient(to right, #fd6320, rgba(221, 41, 191, 0));
  padding: 3px;
  margin-bottom: 1.25rem;
}

.project1 .project1-text .project1-title-box div {
  background: #222;
  color: white;
}

.project1 .project1-text .project1-title-box div h4 {
  margin-bottom: 0;
  padding: 3px;
}

.project1 .project1-text p {
  margin-bottom: 1rem;
}

.project1 .project1-text .portfolio-btn {
  width: 100px;
  height: 30px;
  background-color: #fd6320;
  margin-right: 10px;
  color: #fff0ff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.project1 .project1-text .portfolio-btn:hover {
  border: 2px solid #fd6320;
  background-color: #222;
}

@media screen and (max-width: 450px) {
  .loom {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .button-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 972px) {
  .project2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project2 .project2-image {
  width: 50%;
}

@media screen and (max-width: 972px) {
  .project2 .project2-image {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .project2 .project2-image {
    width: 100%;
  }
}

.project2 .project2-image img {
  width: 100%;
  height: auto;
}

.project2 .project2-text {
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 972px) {
  .project2 .project2-text {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project2 .project2-text .project2-title-box {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#32d32c), to(rgba(50, 211, 44, 0)));
  background: linear-gradient(to right, #32d32c, rgba(50, 211, 44, 0));
  padding: 3px;
  margin-bottom: 1.25rem;
}

.project2 .project2-text .project2-title-box div {
  background: #222;
  color: white;
}

.project2 .project2-text .project2-title-box div h4 {
  margin-bottom: 0;
  padding: 3px;
}

.project2 .project2-text p {
  margin-bottom: 1rem;
}

.project2 .project2-text .portfolio-btn {
  width: 100px;
  height: 30px;
  background-color: #32d32c;
  margin-right: 10px;
  color: #fff0ff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.project2 .project2-text .portfolio-btn:hover {
  border: 2px solid #32d32c;
  background-color: #222;
}

.project3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 972px) {
  .project3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project3 .project3-image {
  width: 50%;
}

@media screen and (max-width: 972px) {
  .project3 .project3-image {
    width: 80%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .project3 .project3-image {
    width: 100%;
  }
}

.project3 .project3-image img {
  width: 100%;
  height: auto;
}

.project3 .project3-text {
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 972px) {
  .project3 .project3-text {
    width: 100%;
  }
}

.project3 .project3-text .project3-title-box {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#ff3459), to(rgba(221, 41, 191, 0)));
  background: linear-gradient(to right, #ff3459, rgba(221, 41, 191, 0));
  padding: 3px;
  margin-bottom: 1.25rem;
}

.project3 .project3-text .project3-title-box div {
  background: #222;
  color: white;
}

.project3 .project3-text .project3-title-box div h4 {
  margin-bottom: 0;
  padding: 3px;
}

.project3 .project3-text p {
  margin-bottom: 1rem;
}

.project3 .project3-text .portfolio-btn {
  width: 100px;
  height: 30px;
  background-color: #ff3459;
  margin-right: 10px;
  color: #fff0ff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.project3 .project3-text .portfolio-btn:hover {
  border: 2px solid #ff3459;
  background-color: #222;
}

.project2-image, .project0-image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 972px) {
  .project3-image, .project1-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.connect {
  padding: 30px;
}

.connect-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

@media screen and (max-width: 972px) {
  .connect-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.social-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 50%;
  margin-right: 30px;
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(red), color-stop(blue), to(#eec330));
  background: linear-gradient(to bottom right, red, blue, #eec330);
  padding: 3px;
}

@media screen and (max-width: 972px) {
  .social-flex {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }
}

.social-flex div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #222;
  padding: 10px;
}

.social-pic-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-pic-text .circle-pic-div {
  width: 50%;
}

@media screen and (max-width: 450px) {
  .social-pic-text .circle-pic-div {
    display: none;
  }
}

.social-pic-text .circle-pic-div img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.social-pic-text .hire-me-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media screen and (max-width: 972px) {
  .social-pic-text .hire-me-text {
    width: 75%;
  }
}

@media screen and (max-width: 450px) {
  .social-pic-text .hire-me-text {
    width: 100%;
  }
}

.social-pic-text .hire-me-text .social-icons {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: linear-gradient(to bottom right, red, blue, #eec330);
}

.social-pic-text .hire-me-text .social-icons i {
  color: #eec330;
  font-size: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.social-pic-text .hire-me-text .social-icons i:hover {
  color: #dd29bf;
}

.social-pic-text .hire-me-text .quote {
  font-style: italic;
  margin-top: 8px;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .social-pic-text .hire-me-text .quote {
    display: none;
  }
}

.social-icons a:focus {
  outline: none;
}

.email {
  text-align: center;
  padding-top: 15px;
  max-width: 100%;
  display: block;
}

.email i {
  font-size: 2rem;
  color: #ff3459;
}

.email i p {
  color: white;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
}

.connect-form {
  width: 50%;
}

@media screen and (max-width: 972px) {
  .connect-form {
    width: 100%;
  }
}

.connect-form button {
  display: block;
  width: 100px;
  height: 30px;
  background-color: #dd29bf;
  margin: 20px 10px 0 0;
  color: #fff0ff;
}

.form-name-box-wrapper, .form-email-box-wrapper, .form-message-box-wrapper {
  position: relative;
  background: #dd29bf;
  padding: 3px;
  width: 100%;
}

.form-name-box-wrapper input, .form-name-box-wrapper textarea, .form-email-box-wrapper input, .form-email-box-wrapper textarea, .form-message-box-wrapper input, .form-message-box-wrapper textarea {
  background: #222;
  display: block;
  width: 100%;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  color: white;
}

input:focus, textarea:focus {
  -webkit-box-shadow: 0 0 10px #ee91de;
          box-shadow: 0 0 10px #ee91de;
  color: white;
}

.form-btn:hover {
  -webkit-box-shadow: 0 0 5px #ee91de;
          box-shadow: 0 0 5px #ee91de;
}

footer {
  height: 50px;
  text-align: center;
}

footer p {
  padding-top: 15px;
  font-size: .8rem;
}
/*# sourceMappingURL=styles.css.map */