a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.pulse:hover {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 240, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 240, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 240, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 240, 255, 0.4);
            box-shadow: 0 0 0 0 rgba(255, 240, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 240, 255, 0);
            box-shadow: 0 0 0 10px rgba(255, 240, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 240, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 240, 255, 0);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  background-color: #222;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.body-wrapper {
  width: 75%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
  color: white;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2.6rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

h1 span {
  font-size: 1.4rem;
  font-weight: normal;
  display: block;
  margin: .5rem 0 1rem 0;
}

h2 {
  font-size: 1.9rem;
  margin-bottom: 0.45rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.25;
  margin-bottom: 1.25rem;
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}

p {
  font-size: 1rem;
  line-height: 1.65rem;
}

img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

header {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}

nav {
  margin: 30px 0;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

ul li {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.header-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-intro .header-text {
  margin-right: 30px;
}

.header-intro button {
  width: 100px;
  height: 30px;
  background-color: #dd29bf;
  margin: 20px 10px 0 0;
  color: #fff0ff;
}

.header-intro button i {
  margin-left: 5px;
}

.profile-image {
  width: 50%;
  height: auto;
}

.profile-image video source {
  width: 100%;
  height: auto;
}

.about-studies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me {
  width: 50%;
  padding-right: 15px;
}

.about-me h3, .about-me h5 {
  text-align: center;
}

.dotted-line-box-wrapper {
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(red), color-stop(blue), to(#eec330));
  background: linear-gradient(to bottom right, red, blue, #eec330);
  padding: 3px;
}

.dotted-line-box-wrapper .dotted-line-box {
  background: #222;
  color: white;
  padding: 2rem;
  margin: 0 auto;
}

.dotted-line-box-wrapper .dotted-line-box h5 {
  text-align: left;
  margin-bottom: .2rem;
}

.studies {
  width: 50%;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.studies h3 {
  text-align: center;
}

.studies h5 {
  margin-bottom: .2rem;
  font-size: 1rem;
}

.outter-studies1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outter-studies1 .studies1 {
  border: 2px solid #32d32c;
  width: 45%;
  padding-left: 7px;
  border-radius: 3%;
}

.outter-studies1 .studies1 .dot1 {
  display: inline-block;
  width: 22px;
  margin: 2px;
  height: 22px;
  border-radius: 50%;
  background: black;
  color: black;
  color: #32d32c;
}

.studies2 {
  border: 2px solid #489bdc;
  width: 45%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 7px;
  border-radius: 3%;
}

.studies3 {
  border: 2px solid #fd6320;
  width: 45%;
  padding-left: 7px;
  border-radius: 3%;
}

.studies4 {
  border: 2px solid #dd29bf;
  width: 45%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 7px;
  border-radius: 3%;
}

.skillz {
  background-color: #eec330;
  padding: 20px 0;
}

.skillz-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.skillz-icons {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.skillz-icons img {
  height: 100px;
  -webkit-filter: drop-shadow(3px 1px 1px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(2px 1px 1px rgba(255, 240, 255, 0.7));
}

.skillz-icons h5 {
  margin-top: 5px;
  font-weight: bolder;
}

.wordpress path {
  fill: #ff0000;
}

.portfolio-section {
  padding: 30px 0;
}

.project1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.project1 .outer-video-div {
  position: relative;
  width: 50%;
  height: auto;
}

.project1 .outer-video-div .project1-image img {
  width: 100%;
  height: auto;
}

.project1 .outer-video-div .project1-image i {
  font-size: 350%;
  position: absolute;
  bottom: 30%;
  left: 70%;
  color: #dd29bf;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 #dd29bf;
          box-shadow: 0 0 0 #dd29bf;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.project1 .project1-text {
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project1 .project1-text h4 {
  max-height: 25px;
  color: white;
  border-width: 3px;
  border-style: solid;
  -o-border-image: linear-gradient(to right, red, rgba(0, 0, 0, 0)) 1 100%;
     border-image: -webkit-gradient(linear, left top, right top, from(red), to(rgba(0, 0, 0, 0))) 1 100%;
     border-image: linear-gradient(to right, red, rgba(0, 0, 0, 0)) 1 100%;
}

.project1 .project1-text .portfolio-btn {
  width: 100px;
  height: 30px;
  background-color: #dd29bf;
  margin: 20px 10px 0 0;
  color: #fff0ff;
}

.project2, .project3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project2 .project2-image, .project2 .project3-image, .project3 .project2-image, .project3 .project3-image {
  width: 50%;
}

.project2 .project2-image img, .project2 .project3-image img, .project3 .project2-image img, .project3 .project3-image img {
  width: 100%;
  height: auto;
}

.project2 .project1-text, .project2 .project2-text, .project2 .project3-text, .project3 .project1-text, .project3 .project2-text, .project3 .project3-text {
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project2 .project1-text .portfolio-btn, .project2 .project2-text .portfolio-btn, .project2 .project3-text .portfolio-btn, .project3 .project1-text .portfolio-btn, .project3 .project2-text .portfolio-btn, .project3 .project3-text .portfolio-btn {
  width: 100px;
  height: 30px;
  background-color: #dd29bf;
  margin: 20px 10px 0 0;
  color: #fff0ff;
}

.project2-image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.project2-text {
  margin-left: 30px;
}

.blog {
  padding-top: 30px;
  height: 500px;
}

.blog h3 {
  text-align: center;
}

.connect {
  padding-top: 30px;
  height: 500px;
}

.connect h3 {
  text-align: center;
}

.social-icons {
  text-align: center;
}

.social-icons .fas {
  font-size: 2rem;
}

form {
  border: 1px solid red;
  color: black;
}

input {
  color: black;
}

footer {
  height: 50px;
  text-align: center;
  background-color: #ff3459;
}

.iframe-div {
  position: relative;
  padding-bottom: 62.5%;
  height: 0;
}

.iframe-div iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */